body {
    background-color: beige;
}
.profile-image {
    display: block;
    margin: 40px auto 20px auto;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    color: #444;
    font-size: 14px;
    opacity: 0.8;
}

