html, body {
    background-color: #e0c9ac !important;
}


body {
    background-color: #e9d6c2;
}



.profile-image {
    display: block;
    margin: 40px auto 20px auto;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    image-rendering: auto;
}



footer {
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    color: #444;
    font-size: 14px;
    opacity: 0.8;
}
.titelbild {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}



